/scripts/resources/precomputed_embeddings
/manuscript_copy
CLAUDE.md
src/__pycache__
.DS_Store
localization_dataset_labeled_clips
pam_dataset_v4
scripts/.DS_Store
figures/.DS_Store
scripts/3_evaluate_individual_id/6_eval_vs_baselines_with_perch2.ipynb
scripts/3_evaluate_individual_id/generate_perch2_embeddings.ipynb
**/.DS_Store
results_v1/
scripts/resources/.DS_Store
results/detection_histories/
